<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.description %></p>
<h2>Reviews for <%= @restaurant.name %></h2>

<% if @restaurant.reviews.any? %>
	<ul>
		<% @restaurant.reviews.each do |review| %>
			<li>
				<h4><%= review.thoughts %>: <%= review.rating %>/5</h4>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>No reviews.</p>
<% end %>